<p>
  <strong>Question:</strong>
  <%= @assessment.question %>
</p>

<p>
  <strong>Choice1:</strong>
  <%= @assessment.choice1 %>
</p>

<p>
  <strong>Score1:</strong>
  <%= @assessment.score1 %>
</p>

<p>
  <strong>Choice2:</strong>
  <%= @assessment.choice2 %>
</p>

<p>
  <strong>Score2:</strong>
  <%= @assessment.score2 %>
</p>

<p>
  <strong>Choice3:</strong>
  <%= @assessment.choice3 %>
</p>

<p>
  <strong>Score3:</strong>
  <%= @assessment.score3 %>
</p>

<p>
  <strong>Choice4:</strong>
  <%= @assessment.choice4 %>
</p>

<p>
  <strong>Score4:</strong>
  <%= @assessment.score4 %>
</p>
<%= link_to 'Edit', edit_assessment_path %>
<%= link_to 'Return to assessments', assessments_path %>
