<h1>Groups/Orgs</h1>

<table class="table table-hover">



  <% @group.each do |group| %>

      <img src="<%= group.img %>"  style="width:304px;height:228px;">
           <p><%= group.group_name %></p>
           <p><%= group.description %></p>
           <p><%= group.category %></p>
           <p><%= group.contact %></p>
            <p><%= group.location %></p>


  <% end %>


</table>
